In [2]:
import os, sys 
import pandas as pd
import pickle as pk
from pathlib2 import Path
#from evaluate import autoGrader
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#import dataframe as df
#pip install pathlib2

In [11]:
data=pd.read_csv('D:/code_own/CodingTest-SunyuWang/to_players/data/training_data.csv',parse_dates = ['t_ob'])

In [14]:
# 用中位数将数据分成两部分
median=data['PM2.5'].median()
# 增加serious这一列，用于判断是否严重
data['serious']=data.apply(lambda x:1 if x['PM2.5']>median else 0,axis=1)

In [33]:
data[data['serious']==1].head(1)

,t_ob,风向,PM10,PM2.5,室内温度,室内湿度,SO2,O3,NOx,NO2,NO,CO,气压,大气湿度,大气温度,风速,serious
13,2020-03-01 02:20:00,64.666667,44.983333,32.433333,24.621667,32.118333,4.736667,31.413333,25.588333,24.091667,0.975,0.608333,1014.75,94.916667,9.033333,1.666667,1

In [34]:
data[data['serious']==0].head(1)

,t_ob,风向,PM10,PM2.5,室内温度,室内湿度,SO2,O3,NOx,NO2,NO,CO,气压,大气湿度,大气温度,风速,serious
0,2020-03-01 00:10:00,338.0,32.7,23.4,25.0,31.35,3.74,38.23,28.54,27.04,0.98,0.76,1015.2,91.0,9.3,1.4,0

In [32]:
# 保存文件
data.to_csv('data-for-practice/balanced-classification-data.csv',encoding='utf-8')